# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from newsapi import NewsApiClient
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\charl\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [2]:
# Read your api key environment variable
api_key = os.getenv("NEWS_API")

In [3]:
# Create a newsapi client
newsapi = NewsApiClient(api_key="a46ac64982fa415ebe391a716963d38e")

In [4]:
# Fetch the Bitcoin news articles
bitcoin_headlines = newsapi.get_everything(q="Bitcoin", 
    language="en",
    sort_by="relevancy")

print(f"Total articles about Bitcoin: {bitcoin_headlines['totalResults']}")

Total articles about Bitcoin: 8451

In [5]:
# Fetch the Ethereum news articles
ethereum_headlines = newsapi.get_everything(
    q="Ethereum",
    language="en",
    sort_by="relevancy"
)

print(f"Total articles about Ethereum: {ethereum_headlines['totalResults']}")

Total articles about Ethereum: 2961

In [6]:
# Create the Bitcoin sentiment scores DataFrame
bitcoin_sentiment = []

for article in bitcoin_headlines["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        bitcoin_sentiment.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass
    
    
# Create DataFrame
bitcoin_df = pd.DataFrame(bitcoin_sentiment)

# Reorder DataFrame columns
cols = ["compound", "negative", "neutral", "positive", "text", "date"]
bitcoin_df = bitcoin_df[cols]

bitcoin_df.head()

,compound,negative,neutral,positive,text,date
0,-0.2732,0.063,0.937,0.000,A similar hoax earlier this year tied Walmart ...,2021-11-05
1,0.3612,0.000,0.904,0.096,Theres a big new presence slurping up power fr...,2021-10-28
2,0.0000,0.000,1.000,0.000,"For all the talk of democratizing finance, the...",2021-10-26
3,0.5719,0.000,0.847,0.153,"In keeping with a previous announcement, AMC t...",2021-11-12
4,0.0000,0.000,1.000,0.000,Representation of cryptocurrency Bitcoin is pl...,2021-10-21

In [7]:
ethereum_sentiment = []

for article in ethereum_headlines["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        ethereum_sentiment.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass
    
    
# Create DataFrame
ethereum_df = pd.DataFrame(ethereum_sentiment)

# Reorder DataFrame columns
cols = ["compound", "negative", "neutral", "positive", "text", "date"]
ethereum_df = ethereum_df[cols]

ethereum_df.head()

,compound,negative,neutral,positive,text,date
0,0.0000,0.0,1.000,0.000,A new cross-chain bridge is currently connecte...,2021-10-16
1,0.0000,0.0,1.000,0.000,Mark Cuban has some advice for people who are ...,2021-10-14
2,0.5719,0.0,0.847,0.153,"In keeping with a previous announcement, AMC t...",2021-11-12
3,0.4588,0.0,0.906,0.094,Ethereum and bitcoin are the two biggest crypt...,2021-11-05
4,0.5267,0.0,0.907,0.093,Elon Musk\r\npicture alliance / Getty Images\r...,2021-11-01

In [8]:
# Describe the Bitcoin Sentiment
bitcoin_df.describe()

        compound   negative    neutral   positive
count  20.000000  20.000000  20.000000  20.000000
mean    0.220215   0.003150   0.942300   0.054550
std     0.292918   0.014087   0.065262   0.066502
min    -0.273200   0.000000   0.801000   0.000000
25%     0.000000   0.000000   0.896500   0.000000
50%     0.000000   0.000000   0.968500   0.000000
75%     0.481000   0.000000   1.000000   0.103500
max     0.755800   0.063000   1.000000   0.199000

In [9]:
# Describe the Ethereum Sentiment
ethereum_df.describe()

        compound  negative    neutral   positive
count  20.000000      20.0  20.000000  20.000000
mean    0.280475       0.0   0.936850   0.063150
std     0.308037       0.0   0.074661   0.074661
min     0.000000       0.0   0.779000   0.000000
25%     0.000000       0.0   0.902500   0.000000
50%     0.180600       0.0   0.964000   0.036000
75%     0.530600       0.0   1.000000   0.097500
max     0.822500       0.0   1.000000   0.221000

### Questions:

Q: Which coin had the highest mean positive score?

A: Ethereum

Q: Which coin had the highest compound score?

A: Ethereum

Q. Which coin had the highest positive score?

A: Ethereum

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [10]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [11]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
sw = set(stopwords.words('english'))

In [12]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    regex = re.compile("[^a-zA-Z ]")
    
    # Remove the punctuation from text
    re_clean = regex.sub('', text)
   
    # Create a tokenized list of the words
    words = word_tokenize(re_clean)
    
    # Lemmatize words into root words
    lem = [lemmatizer.lemmatize(word) for word in words]

    # Convert the words to lowercase
    tokens = [word.lower() for word in lem if word.lower() not in sw]
    
    # Remove the stop words
    words = word_tokenize(re_clean)
    
    return tokens

In [13]:
# Create a new tokens column for Bitcoin
bitcoin_df["tokens"] = bitcoin_df["text"].apply(tokenizer)
bitcoin_df.head()

,compound,negative,neutral,positive,text,date,tokens
0,-0.2732,0.063,0.937,0.000,A similar hoax earlier this year tied Walmart ...,2021-11-05,"[similar, hoax, earlier, year, tied, walmart, ..."
1,0.3612,0.000,0.904,0.096,Theres a big new presence slurping up power fr...,2021-10-28,"[theres, big, new, presence, slurping, power, ..."
2,0.0000,0.000,1.000,0.000,"For all the talk of democratizing finance, the...",2021-10-26,"[talk, democratizing, finance, vast, majority,..."
3,0.5719,0.000,0.847,0.153,"In keeping with a previous announcement, AMC t...",2021-11-12,"[keeping, previous, announcement, amc, theater..."
4,0.0000,0.000,1.000,0.000,Representation of cryptocurrency Bitcoin is pl...,2021-10-21,"[representation, cryptocurrency, bitcoin, plac..."

In [14]:
# Create a new tokens column for Ethereum
ethereum_df['tokens'] = ethereum_df["text"].apply(tokenizer)
ethereum_df.head()

,compound,negative,neutral,positive,text,date,tokens
0,0.0000,0.0,1.000,0.000,A new cross-chain bridge is currently connecte...,2021-10-16,"[new, crosschain, bridge, currently, connected..."
1,0.0000,0.0,1.000,0.000,Mark Cuban has some advice for people who are ...,2021-10-14,"[mark, cuban, ha, advice, people, new, investi..."
2,0.5719,0.0,0.847,0.153,"In keeping with a previous announcement, AMC t...",2021-11-12,"[keeping, previous, announcement, amc, theater..."
3,0.4588,0.0,0.906,0.094,Ethereum and bitcoin are the two biggest crypt...,2021-11-05,"[ethereum, bitcoin, two, biggest, cryptocurren..."
4,0.5267,0.0,0.907,0.093,Elon Musk\r\npicture alliance / Getty Images\r...,2021-11-01,"[elon, muskpicture, alliance, getty, imagesa, ..."

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [15]:
from collections import Counter
from nltk import ngrams

In [16]:
# Generate the Bitcoin N-grams where N=2
btc_text = ' '.join(bitcoin_df.text)
btc_processed = tokenizer(btc_text)
btc_ngrams = Counter(ngrams(btc_processed, n=2))

In [17]:
# Generate the Ethereum N-grams where N=2
eth_text = ' '.join(ethereum_df.text)
eth_processed = tokenizer(eth_text)
eth_ngrams = Counter(ngrams(eth_processed, n=2))

In [18]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Use token_count to get the top 10 words for Bitcoin
print(dict(btc_ngrams.most_common(10)))

{('reuters', 'bitcoin'): 5, ('cryptocurrency', 'bitcoin'): 4, ('illustration', 'taken'): 4, ('oct', 'reuters'): 4, ('bitcoin', 'seen'): 4, ('exchangetraded', 'fund'): 4, ('char', 'bitcoin'): 4, ('char', 'representation'): 3, ('representation', 'virtual'): 3, ('virtual', 'cryptocurrency'): 3}

In [20]:
# Use token_count to get the top 10 words for Ethereum
print(dict(eth_ngrams.most_common(10)))

{('illustration', 'taken'): 4, ('taken', 'june'): 4, ('new', 'york'): 3, ('bitcoin', 'ethereum'): 3, ('ethereum', 'dogecoin'): 3, ('crosschain', 'bridge'): 2, ('ethereum', 'bitcoin'): 2, ('representations', 'cryptocurrencies'): 2, ('cryptocurrencies', 'bitcoin'): 2, ('dogecoin', 'ripple'): 2}

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [25]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [28]:
# Generate the Bitcoin word cloud
btc_wc = WordCloud().generate(' '.join(btc_text))
# plt.imshow(btc_wc)

In [30]:
# Generate the Ethereum word cloud
eth_wc = WordCloud().generate(' '.join(eth_text))
# plt.imshow(wc)

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [31]:
import spacy
from spacy import displacy

In [32]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [33]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [34]:
# Concatenate all of the Bitcoin text together
btc_text = ' '.join(bitcoin_df.text)
btc_text

'A similar hoax earlier this year tied Walmart to Litecoin\r\nIf you buy something from a Verge link, Vox Media may earn a commission. See our ethics statement.\r\nPhoto Illustration by Thiago Prudencio/S… [+1900 chars] Theres a big new presence slurping up power from the U.S. grid, and its growing: bitcoin miners. New research shows that the U.S. has overtaken China as the top global destination for bitcoin mining … [+3088 chars] For all the talk of democratizing finance, the vast majority of Bitcoin continues to be owned by a relative handful of investors.\r\nAs flagged by Bloomberg, newly released data by the National Bureau … [+4274 chars] In keeping with a previous announcement, AMC theaters now accept cryptocurrencies as payment for online purchases.\xa0\r\nBitcoin, Ethereum, Bitcoin Cash and Litecoin are accepted.\xa0\r\nPreviously, the compa… [+1036 chars] Representation of cryptocurrency Bitcoin is placed on PC motherboard in this illustration taken, June 29, 2021. REUTERS/Dado Ruvic/IllustrationHONG KONG, Oct 21 (Reuters) - Bitcoin fell slightly in A… [+1642 chars] A representation of the virtual cryptocurrency Bitcoin is seen in this picture illustration taken October 19, 2021. REUTERS/Edgar SuLONDON, Oct 20 (Reuters) - Bitcoin is on the cusp of an all-time hi… [+3260 chars] A representation of the virtual cryptocurrency Bitcoin is seen in this picture illustration taken October 19, 2021. REUTERS/Edgar SuHONG KONG, Oct 20 (Reuters) - Bitcoin hovered below record levels o… [+1954 chars] Posted \r\nBitcoin climbed to a record high on Wednesday amid new interest as the first U.S. bitcoin futures-based exchange-traded funds come to market. Conway G. Gittens has more. A representation of the virtual cryptocurrency Bitcoin is seen in this picture illustration taken October 18, 2021. REUTERS/Edgar SuSINGAPORE, Oct 19 (Reuters) - Bitcoin hit a six-month high and was … [+2332 chars] By Reuters Staff\r\nSINGAPORE (Reuters) - Bitcoin hit a six-month high and was within striking distance of a record on Tuesday as traders bet an anticipated listing of a futures-based U.S. exchange tra… [+2206 chars] STR/NurPhoto via Getty Images\r\nThe first-ever bitcoin-linked exchange-traded fund will begin trading on Tuesday, the provider ProShares said in a statement. The launch will mark another milestone in … [+1567 chars] Bitcoin artwork displayed at the Bitcoin 2021 convention.\r\nMarco Bello/Getty Images\r\nThe Securities and Exchange Commission will not make a decision on alternative asset management firm Valkyrie\'s pr… [+1492 chars] * Cryotocurrency gets boost from ETF bitcoin futures launch\r\n* ETF bitcoins may have higher costs Vs buying of actual cryptos\r\n* But benefits of owning ETFs lauded by many despite some risks\r\n* Tuesd… [+4583 chars] Ether.\r\nNurPhoto\r\n<ul><li>The approval of a bitcoin futures-based ETF means a similar offering for ether is imminent.</li><li>Bloomberg analysts believe the first ether futures-based ETF could launch… [+1931 chars] Bitcoin seen on display.\r\nRafael Henrique/SOPA Images/LightRocket via Getty Images\r\nBitcoin is extending its recent ascent to test a new price record as crypto "hodlers" cheer a futures exchange-trad… [+2812 chars] Bitcoin was trading over 7% higher on Monday morning, priced around $66,105 per coin.\r\nEther, was trading over 3% higher, priced at $4,722.\r\nDogecoin, meanwhile, was up over 9%, trading at a little o… [+756 chars] A passenger (R) talks to an airline employee of the Mexican low-cost air carrier Volaris at Benito Juarez International Airport in Mexico City, Mexico January 10, 2018. Picture taken January 10, 2018… [+1209 chars] * Bitcoin breaks past $68,000; Ether nears $5k\r\n* Both pull back later\r\n* CoinGecko puts crypto market cap at more than $3 trillion\r\n* Flows surge as momentum runs hot (Adds new comment, updates pric… [+3162 chars] Posted \r\nBitcoin hit $60,000 for the first time in six months on Friday, nearing its record high, as traders grew confident that U.S. regulators would approve the launch of an exchange-traded fund (E… [+34 chars] Friday, October 16 saw the approval of a bitcoin exchange-traded fund (ETF), marking it the first regulated cryptocurrency investment vehicle in the U.S. to go mainstream.\r\nProShares is likely the co… [+2215 chars]'

In [35]:
# Run the NER processor on all of the text
btc_doc = nlp(btc_text)

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [ ]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---